<!DOCTYPE html>
<html>
<title>Preview</title>
<style>
.entityList {
  list-style-type: none;
}
</style>
<body>

<div class='preview'> 
    <div class='experiment'>
        {% include 'preview/experiment_html.template' %}
    </div>
    {%- if manifest %}

    <div class='header'>=== Entity Preview ===</div>
        <div class='childContainer'> 
            {%- if manifest.models %}
            <div class='header'>== Models ==</div> 
            <div class='childEntity model'> 
                {%- for model in manifest.models %}   
                    {% include 'preview/model_html.template' %}
                    {% if manifest.dbs or model.run_settings.colocated_db_settings %}
                    <div class='childEntity clientconfig'>
                        {% include 'preview/clientconfig_html.template' %}
                    </div>
                    {%- endif %}
                {%- endfor %}
        </div>
    </div>
            {%- endif %}  
    {%- endif %}
</div>
</body>
</html>
