<!DOCTYPE html>
<html>
<title>Preview</title>
<style>
.entityList {
  list-style-type: none;
}
.orchestrators {
    margin-left: 25px;
}
</style>
<body>

<div class='preview'> 
    <div class='experiment'>
        {% include 'preview/experiment_html.template' %}
    </div>
    {%- if manifest %}
    {% set foobar = {'activetitle': True,'orchtitle': True} %}
    <div class='header'>=== Entity Preview ===</div>
        
            {%- if manifest.dbs %}
            {%- for db in manifest.dbs %} 
            <div class='childContainer'>  

        {%- if db.is_active() == True %}
            {%- if foobar['activetitle'] == True %}
            <div class='header orchestrators'>== Active Infrastructure ==</div> 
            {%- endif %}
            <div class='childEntity activeinfrastructure'> 
            {% include "preview/activeinfra_html.template" %}
            </div> 
            {%- if foobar.update({'activetitle': False}) %}
            {% endif %}
        {% else %}
            {%-if foobar['orchtitle'] == True %}
            <div class='header orchestrators'>== Orchestrators ==</div>  
            {%- endif %}
            <div class='childEntity orchestrator'> 
            {% include "preview/orchestrator_html.template" %}
            </div>
            {%- if foobar.update({'orchtitle': False}) %}
            {% endif %}
            

        </div>
         {% endif %}
        {%- endfor %}
         {%- endif %}  
   
    {%- endif %}
</div>
</div>
</body>
</html>

