
{%- if verbosity_level == Verbosity.INFO %}
{%- include "preview/clientconfig_plain_text_info.template" -%}
{%- endif %}
{%- if verbosity_level == Verbosity.DEBUG or verbosity_level == Verbosity.DEVELOPER %}
{%- include "preview/clientconfig_plain_text_debug.template" -%}
{%- endif %}
