    ==Ensembles== 
        {% for ensemble in manifest.ensembles -%}
        = Ensemble name: {{ ensemble.name }}
            Members: {{ ensemble|length }}
            Ensemble Parameters:  
                {%- for key, value in ensemble.params.items() %}
                {{ key }}: {{ '{:^9}'.format(value|string)|truncate(81,true,'...')}}
                    {%- endfor %}      
        {%- for model in ensemble %}
        -- {% include 'preview/model.template' %}
        --
        {%- endfor %}
        {% endfor -%}
        {%- set model = ensemble.models[0] -%}
        {%- include "preview/clientconfig.template" %}
        =