
    = Database Identifier: {{ db.name }} =
        TCP/IP Port(s):
          {%- for port in db.ports %}
          {{ port }}
          {%- endfor %}
        Network Interface: {{ db._interfaces[0] }}
        Type: {{ config.database_cli | get_dbtype }}
        {%- if db.batch %}
        Batch Launch: {{ db.batch }}
        {%- endif %}
