 
{%- for db in manifest.dbs %}
        = Database identifier: {{ db.name }}
            Shards: {{ db.num_shards }}
            Network interface: {{ db._interfaces[0] }}
            Type: {% set db_type, _ = config.database_cli.split("/")[-1].split("-",1) %}{{ db_type }}
            Executable: {{ config.database_exe }}
            Batch Launch: {{ db.batch }}
            Run command: {{ db.run_command }}
            Ntasks: {{ db.db_nodes }}
        =
{% endfor -%}
