.vscode
**/*.swp
__pycache__
.ipynb_checkpoints
.pytest_cache/
.coverage*
htmlcov
smartsim.egg-info
tests/test_output
.DS_Store

# Dependencies
smartsim/_core/.third-party

# Docs
_build

smartredis

# Envs
venv/
.venv/
env/
.env/

# written upon install
smartsim/version.py

smartsim/_core/bin/*-server
smartsim/_core/bin/*-cli

# created upon install
smartsim/_core/lib

# optional dev tools
.pre-commit-config.yaml
