.vscode
__pycache__
.ipynb_checkpoints
.pytest_cache/
.coverage*
htmlcov
smartsim.egg-info

# Dependencies
smartsim/_core/.third-party

# Docs
_build

smartredis

# written upon install
smartsim/version.py

smartsim/_core/bin/redis-server
smartsim/_core/bin/redis-cli

# created upon install
smartsim/_core/lib