
    = Feature Store Identifier: {{ fs.entity.fs_identifier }} =
        Shards: {{ fs.entity.num_shards }}
        TCP/IP Port(s):
          {%- for port in fs.entity.ports %}
          {{ port }}
          {%- endfor %}
        Network Interface: {{ fs.entity.run_settings.exe_args | get_ifname }}
        Type: {{ config.database_cli | get_fstype }}
