
{%- if verbosity_level == Verbosity.INFO %}
{%- include "clientconfigcolo_info.template" %}
{% endif %}
{%- if verbosity_level == Verbosity.DEBUG or verbosity_level == Verbosity.DEVELOPER %}
{%- include "clientconfigcolo_debug.template" %}
{%- endif %}
