
{%- if verbosity_level == Verbosity.INFO %}
{%- include "preview/plain_text/ensemble_info.template" -%}
{%- endif %}
{%- if verbosity_level == Verbosity.DEBUG or verbosity_level == Verbosity.DEVELOPER %}
{%- include "preview/plain_text/ensemble_debug.template" -%}
{%- endif %}
