
{%- if verbosity_level == Verbosity.INFO %}
{%- include "model_info.template" -%}
{%- endif %}
{%- if verbosity_level == Verbosity.DEBUG or verbosity_level == Verbosity.DEVELOPER %}
{%- include "model_debug.template" -%}
{%- endif -%}
