
    = Feature Store Identifier: {{ fs.name }} =
        TCP/IP Port(s):
          {%- for port in fs.ports %}
          {{ port }}
          {%- endfor %}
        Network Interface: {{ fs._interfaces[0] }}
        Type: {{ config.database_cli | get_fstype }}
        {%- if fs.batch %}
        Batch Launch: {{ fs.batch }}
        {%- endif %}
