name: deploy_dev_docs

on:
  pull_request:
    types: [closed]

jobs:
  build_docs:
    name: build_dev_docs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.

      - name: build documentation with docker
        run: make docks

      - uses: actions/checkout@v2
        with:
          ref: doc
          path: doc-branch

      - name: Move over release docs and stubs
        run: |
          rm -rf doc-branch/docs/docs/
          cp -r doc-branch/docs/* ./docs/
          rm -rf doc-branch

      - name: Commit files and push
        run: |
          git config --local user.email "spartee@hpe.com"
          git config --local user.name "Sam Partee"
          git checkout -b doc
          git add .
          git commit -m "Update develop documentation"
          git push -f origin doc

